.lista-inscritos{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    background-color: #30363D;
    height: 75vh;
    padding: 20px 30px 20px 30px;
    overflow-y: scroll;
    scroll-behavior:auto;
    overflow: auto;
}