.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 80px;
}

/* Estilos gerais para desktops grandes (acima de 1440px) */
 
/* Estilos para desktops médios (telas de 1280px a 1440px) */
@media (min-width: 1280px) and (max-width: 1439px) {
  .desc {
    font-size: 23px;
    margin: 60px;
  }
}
  
/* Estilos para tablets grandes e laptops pequenos (1024px a 1280px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .desc {
    font-size: 21px;
    margin: 40px;
  }
}
  
/* Estilos para tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .desc {
    font-size: 19px;
    margin: 30px;
  }
}
  
/* Estilos para smartphones pequenos (telas abaixo de 768px) */
@media (max-width: 767px) {
  .desc {
    font-size: 17px;
    margin: 20px;
  }
}