.display-test{
    display: flex;
    background-color: #4A5C6A;
    align-items: center;
    height: 85px;
    width: 100%;
    border-radius: 10px;
    color: Black;
    padding: 20px;
}

.nome-candidato{
    font-size: 20px;
}

.foto-candidato{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: aqua;
    margin: 10px;
}