.info-candidatos{
    display: flex;
    flex-direction: column;
    background-color: #30363D;
    height: 75vh;
    width: 80vw;
}

.cont1{
    display: flex;
    flex-direction: row;
    height: 50%vh;
    width: 80vw;
}

.cont2{
    display: flex;
}

.foto-candidato{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.sessoes{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    height: 55px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    padding-left: 15px;
}

.titulos{
    color: white;
    font-size: 25px;
    z-index: 0;
   /*color: white;*/
}

.sect-info1, .sect-info2, .sect-info3{
    display: flex;
    flex-direction: column;
}

.sect-info1{
    height: 100vh;
    width: 60%;
}

.sect-info2{
    height: 50%;
    width: 120%;
}

.sect-info3{
    height: 100%;
    width: 120%;
}
