.info-candidatos{
    display: flex;
    flex-direction: column;
    background-color: #30363D;
    height: 75vh;
    width: 75vw;
    border-radius: 20px;
}

.cont1{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.cont2{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    padding: 20px 0 0 20px;
}

.botoes{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.btn-aprovar, .btn-reprovar{
    width: 170px;
    height: 40px;
    margin: 30px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}

.btn-aprovar{
    background-color: #199339;
}
    
.btn-reprovar{
    background-color: #ff3030;
}

.foto-candidato{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.sessoes{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    height: 50px;
    font-size: 17px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    padding-left: 15px;
}

.link-curriculo{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    height: 50px;
    width: 50%;
    font-size: 17px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    padding-left: 15px;
}

.titulos{
    color: white;
    font-size: 23px;
    z-index: 0;
   /*color: white;*/
}

.sect-info1, .sect-info2, .sect-info3{
    display: flex;
    flex-direction: column;
}

.sect-info1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 60%;
    padding: 50px;
}

.sect-info2{
    height: 100%;
    width: 120%;
    padding: 30px;
}

.sect-info3{
    height: 100%;
    width: 120%;
    padding: 30px;
}

.linha{
    width: 100%;
    padding: 20px;
}

hr{
    color: white;
}
