.display-test{
    display: flex;
    background-color: #4A5C6A;
    align-items: center;
    height: 90px;
    width: 100%;
    border-radius: 20px;
    color: Black;
    padding: 20px;
}

.nome-candidato{
    font-size: 20px;
}

.foto-candidato{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px 25px 10px 10px;
}