.contProjeto{
    display: flex;
    background-color: #4A5C6A;
    height: 150px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0;
}

.logo-do-projeto{
    border-radius: 15px;
    height: 120px;
    width: 120px;
}

.sessao1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background-color: rgb(127, 209, 168);*/
    height: 100%;
    width: 80%;
    padding: 0 0 0 50px;
}

.sessao2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    /*background-color: rgb(145, 140, 221);*/
    height: 100%;
    width: 130%;
}

.sessao3{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(230, 151, 133);*/
    height: 100%;
    width: 130%;
}

.sessao4{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
    /*background-color: rgb(213, 98, 184);*/
    height: 100%;
    width: 80%;
}

p{
    font-size: 20px;
}

.descricao-projeto{
    font-size: 15px;
}

.situacao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 35px;
    width: 190px;
    margin: 0 10px 10px 0;
    background-color: green;
    border-radius: 10px;
    font-size: 15px;
}

.lnk-acessar-inscritos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 190px;
    margin: 10px 10px 0 0;
    color: black; 
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.btn-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 70px;
    margin: 10px 10px 0 0;
    color: rgb(255, 255, 255); 
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    order: 2;
    flex-grow: 1
}

.sect-btn {
    display: flex;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .contProjeto{
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #4A5C6A;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
  }

  .sessao1{
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .sessao2{
        justify-content: center;
        text-align: start;
        padding: 15px;
        height: 100%;
        width: 100%;
        font-size: 12px;
        margin: 0;
    }
    
    .sessao3{
        padding: 15px;
        height: 100%;
        width: 100%;
        font-size: 12px;
        margin: 0;
    }
    
    .sessao4{
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 10px;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .logo-do-projeto{
        height: 110px;
        width: 110px;
        margin: 20px;
    }

    p{
        font-size: 15px;
        text-align: center;
        margin: 3px;
    }

    hr{
        display: none;
    }
    .descricao-projeto{
        font-size: 15px;
    }

    .sect-btn{
        display: flex;
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .situacao{
        height: 30px;
        width: 90%;
        font-size: 14px;
    }
    
    .lnk-acessar-inscritos{
        height: 30px;
        width: 90%;
        font-size: 14px;
    }
    
    .btn-excluir{
        height: 30px;
        width: 90%;
        font-size: 14px;
    }

}
