.main {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
}
  
.titulo{
    margin: 20px;
    font-size: 25px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .titulo{
    margin: 20px;
    font-size: 18px;
  }
}