.pergunta{
    display: flex;
    padding: 30px;
    margin: 100px;
}

.perg{
    font-size: 20px;
}

strong{
    font-size: 23px;
    margin-right: 5px;
}

/* Estilos gerais para desktops grandes (acima de 1440px) */
 
  /* Estilos para desktops médios (telas de 1280px a 1440px) */
@media (min-width: 1280px) and (max-width: 1439px) {
  .pergunta {
      margin: 80px;
  }
  .perg {
      font-size: 20px;
  }
  strong{
      font-size: 23px;
      margin-right: 5px;
  }
}
  
/* Estilos para tablets grandes e laptops pequenos (1024px a 1280px) */
@media (min-width: 1024px) and (max-width: 1279px) {
   .pergunta {
    margin: 60px;
 }
.perg {
    font-size: 18px;
}
strong{
    font-size: 21px;
    margin-right: 5px;
  }
}
  
/* Estilos para tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pergunta {
    margin: 40px;
}
  .perg {
      font-size: 16px;
  }
  strong{
      font-size: 19px;
      margin-right: 5px;
  }
}

/* Estilos para smartphones pequenos (telas abaixo de 768px) */
@media (max-width: 767px) {
  .pergunta {
      margin: 20px;
  }
  .perg {
      font-size: 14px;
  }
  strong{
      font-size: 17px;
      margin-right: 5px;
  }
}