.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 2px 2px 2px;
    background-color: rgb(10, 11, 14);
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(241, 224, 224);
}

.logo{
    margin: 10px;
    height: 55px;
    width: 55px;
}

.titulo-nav{
    font-size: 30px;
}

.links{
    margin: 50px ;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

ul, li {
    margin-right: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    color: gray;
}

.login-regist{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: end;
    align-items: center;
}

.login, .signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    .header{
      height: 80px;
      width: 100%;
    }
}
  
/* Tablets */
@media (max-width: 991px) {
  .header{
    height: 100px;
  }
  .links{
    font-size: 23px;
  }
  .logo-wl {
    height: 80px;
    width: 120px;
  }
}

/* Celulares grandes */
@media (max-width: 767px) {
  .header{
    height: 120px;
  }
  .links{
    font-size: 25px;
  }
  .logo-wl {
    height: 90px;
    width: 130px;
  }
}

/* Celulares pequenos */
@media (max-width: 575px) {
  .navbar{
     height: 80px;
     position: sticky;
     top: 0;
  }
  .titulo-nav{
     font-size: 25px;
  }
  .logo{
     width: 48px;
     height: 48px;
  }
  ul, li {
     display: none;
  }
  .login, .signup {
     width: 85px;
     height: 40px;
     font-size: 16px;
  }
}

/* Smartphones */
@media (max-width: 525px) {
  .navbar{
     height: 55px;
     position: sticky;
     top: 0;
  }
  .titulo-nav{
     font-size: 18px;
  }
  .logo{
     width: 46px;
     height: 46px;
  }
  ul, li {
     display: none;
  }
  .login-regist{
    gap: 1px;
  }
  .login{
    display: none;
  }
  .login, .signup {
     width: 70px;
     height: 35px;
     font-size: 12px;
  }
}