.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 30px 2px 0;
    background-color: rgb(10, 11, 14);
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(241, 224, 224);
  }

.logo{
    margin: 0;
    height: 70px;
    width: 70px;
}

.links{
    margin: 50px ;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

ul, li {
    margin-right: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    color: gray;
}