.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 30px 2px 0;
    background-color: rgb(10, 11, 14);
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(241, 224, 224);
}

.logo{
    margin: 10px;
    height: 55px;
    width: 55px;
}

.titulo-nav{
    font-size: 30px;
}

.links{
    margin: 50px ;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

ul, li {
    margin-right: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    color: gray;
}

.login-regist{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: end;
    align-items: center;
}

.login, .signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}


/*Computadores*/
@media (min-width: 1200px) and (max-width: 1439px) {
/*Padrão*/
}

/*Laptops*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Celulares grandes*/
@media (min-width: 576px) and (max-width: 767px) {

}

/*Celulares pequenos*/
@media (max-width: 575px) {
    .navbar{
        height: 65px;
        padding: 0;
    }
    .titulo-nav{
        font-size: 22px;
    }
    .logo{
        width: 47px;
        height: 47px;
    }
    ul, li {
        display: none;
    }
    .login, .signup {
        width: 80px;
        height: 35px;
        font-size: 15px;
    }
}