.lista-inscritos{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    background-color: #30363D;
    height: 75vh;
    padding: 20px 30px 20px 30px;
    gap: 20px;
    overflow-y: scroll;
    scroll-behavior:auto;
    overflow: auto;
}

p{
    font-size: 15px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .lista-inscritos{
    gap: 5px;
  }

  .titulo{
    margin: 20px;
    font-size: 18px;
  }

  p{
    font-size: 12px;
  }

}