.pesquisa{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 35px;
    margin-right: 0;
    margin-left: 0;
  }
  
  .input{
    height: 100%;
    width: 100%;
    margin: 15px;
    margin-left: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 3px solid white;
    outline: 0;
    padding-left: 35px;
    font-size: 15px;
    color: black;
  }
  
  .lupa{
    height: 25px;
    width: 25px;
    color: white;
    position: absolute;
  }