.perfil{
    display: flex;
    align-items: center;
    /*background-color: lightgray;*/
    height: 70px;
    width: 100%;
    background-color: #030D31;
  }
  
  /*.avatar{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    /*background-color: gray;*/
    /*background-image: url('../../Imagens/sem-foto.png');*/
    /*margin: 0;
    position: relative;
    z-index: 1; 
  }*/
  
  .retangulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: #30363D;
    margin: 0;
    left: -4px;
    position: relative; 
    z-index: 0;
  }
  
  .imagem{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 20px;
    /*background-color: gray;*/
    /*background-image: url('../../Imagens/sem-foto.png');*/
    margin: 0;
    position: relative;
    z-index: 1; 
  }

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .imagem{
    width: 65px;
    height: 65px;
  }
  .retangulo{
    width: 70%;
    height: 35px;
  }
  .nome-usuario{
    font-size: 18px;
  }
}