.container{
  display: flex;
  flex-direction: column;
  background-color: #030D31;
  /*opacity: 30%;*/
  /*padding-top: 20px;*/
  /*padding-left: 20px;*/
  position: fixed;
  border-right: 1px solid rgb(255, 255, 255);
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 300px;
  border-radius: 0 15px 15px 0;
  animation: showSidebar .4s;
  z-index: 1;
  left: "${props => props.sidebar ? '0' : '-100%'}";
    
    > svg {
      position: fixed;
      color: white;
      width: 30px;
      height: 30px;
      margin-top: 32px;
      margin-left: 32px;
      cursor: pointer;
    }
}

.conteudo{
  background-color: #030D31;
  margin: 0;
  height: 100%;
  padding: 0 15px 0 20px;
}

@keyframes showSidebar{
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 300px;
  }
}


.close{
    height: 37px;
    width: 37px;
    margin: 15px 10px 0 18px;
    cursor: pointer;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .container{
     width: 60%;
  }
  .close{
     width: 25px;
     height: 25px;
  }
  .conteudo{
    padding: 0 10px 0 20px;
  }
}