.contUsuario{
    background-color: #30363D;
    /*background-image: linear-gradient(to bottom, #0a5517, #3C8736);*/
    height: 300px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .divFoto{
    display: flex;
    align-items: center;
    /*background-color: lightblue;*/
    width: 100%;
  }
  
  .divInfo{
    display: flex;
    /*background-color: lightyellow;*/
    width: 100%;
    padding: 1px 0 1px 0;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 15px;
  }
  
  .divOpcoes{
    /*background-color: lightpink;*/
    width: 100%;
  }
  
  .sessoes{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    height: 36px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    padding-left: 15px;
  }
  
  .foto{
    /*background-color: #D9D9D9;*/
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
  
  .tituloFoto{
    color: white;
    position: relative;
    bottom: 120px;
    left: 15px;
    font-size: 20px;
    /*color: white;*/
  }
  
  .titulos{
    color: white;
    font-size: 20px;
    z-index: 0;
   /*color: white;*/
  }
  
  .iconesEL{
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  
  .opcoesEL{
    color: white;
    font-size: 15px;
  }
  
  .editar, .logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background-color: blue;*/
    width: 40%;
  }
  
  .divOpcoes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
  }
  
  Link{
    text-decoration: none;
  }
  