.containerIt{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e949db;
  font-size: 20px;
  color: white;
  padding: 0;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  height: 50px;
}

.icones{
    height: 25px;
    width: 25px;
    margin: 0 20px;
  }
  
.titulo{
    font-size: 16px;
    margin-left: 12px;
  }
  
.link{
   display: flex;
   align-items: center;
   margin: 0;
   background-color: #30363D;
   cursor: pointer;
   padding: 5px;
   padding-left: 15px;
   width: 100%;
   border-radius: 10px;
   height: 100%;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 575px) {
  
}

/* Smartphones */
@media (max-width: 525px) {
  .containerIt{
    font-size: 15px;
    padding: 0;  
    margin: 0 10px 10px 0;
    height: 43px;
  }
  .icones{
    height: 20px;
    width: 20px;
    margin: 5px;
  } 
}