.container-criar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.formulario-criacao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #30363D;
    border-radius: 20px;
    height: 75%;
    width: 75%;
    margin: 0 100px 0 100px;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: antiquewhite*/;
    height: 60%;
    width: 100%;
}

.etapas{
    /*background-color: lightblue;*/
    height: 40%;
    width: 100%;
}

.sect-img{
    /*background-color: aquamarine;*/
    display: flex;
    padding: 50px;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

h4{
    margin: 15px 0 15px 0;
}

.sect-inputs{
    /*background-color: beige;*/
    padding: 50px;
    width: 100%;
    height: 100%;
}

.sect-desc{
    display: flex;
    justify-content: center;
    /*background-color: lightsalmon;*/
    padding: 50px;
    width: 100%;
    height: 100%;
}

.inputs{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    height: 45px;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: black;
    margin: 15px 0 5px 0;
}

textarea{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    font-size: 15px;
    color: black;
    width: 100%;
    margin: 15px 15px 15px 15px;
    height: 120px;
}

.etapas{
    display: flex;
    flex-direction: row;
}

.etapa1, .etapa2, .etapa3, .etapa4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 100%;
    width: 100%;
}

/*
.etapa1{
    background-color: lightgreen;
}

.etapa2{
    background-color: lightskyblue;
}

.etapa3{
    background-color: lightgoldenrodyellow;
}
*/

.titulos-etapas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-lab{
    font-size: 15px;
    margin: 0 0 0 10px;
}

.link-prova{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    width: 180px;
    padding: 10px;
    font-size: 15px;
    color: black;
    margin: 25px 0 20px 0;
}

.dinamica-grupo{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    width: 180px;
    padding: 10px;
    font-size: 15px;
    color: black;
    margin: 25px 0 20px 0;
}

.texto-entrevista{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    width: 180px;
    padding: 10px;
    font-size: 15px;
    color: black;
    margin: 25px 0 20px 0;
}

.entrevista{
    margin: 25px 0 20px 0;
}

.opcoes-analise{
    margin: 25px 0 20px 0;
}

.sect-botao{
    display: flex;
    justify-content: end;
}

.criar-projeto{
    background-color: green;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    height: 50px;
    width: 150px;
    margin: 30px;
}

/*Organização de imagens:*/

.image-upload {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    background-image: url('https://via.placeholder.com/200?text=+');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
  
.image-upload input[type="file"] {
    display: none;
}
  
.add-image {
    font-size: 50px;
    color: #b1b1b1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/*Documento para entrevista de seleção:*/

.documento-upload {
    display: flex;
    height: 40px;
    width: 180px;
    background-color: #f0f0f0;
    background-image: url('https://via.placeholder.com/200?text=+');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin: 25px 0 20px 0;
}
  
.documento-upload input[type="file"] {
    display: none;
  }
  
.add-documento {
    font-size: 35px;
    color: #b1b1b1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}